<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header">
            <h3 class="box-title">Audit</h3>
						<div class="box-tools">
							<button class="btn btn-sm btn-primary" ng-click="onAdd()"><i class="fa fa-plus"></i></button>
							<input type="text" class="form-control input-sm" style="display: inline-block; width: 150px;" placeholder="Filter" ng-model="filter" ng-change="onFilter()"/>
						</div>
					</div><!-- box-header -->

          <!-- list of service -->
					<div class="box-body no-padding">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
                  <th>User</th>
                  <th>Time</th>
                  <th>IP</th>
                  <th>Action</th>
                  <th>Text1</th>
                  <th>Text2</th>
                  <!-- <th>Text3</th> -->
                  <th>Integer1</th>
                  <!-- <th>Integer2</th> -->
                  <!-- <th>Integer3</th> -->
                  <!-- <th>Real1</th> -->
                  <!-- <th>Real2</th> -->
                  <!-- <th>Real3</th> -->
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="entry in audit">
                  <td>{{entry.user}}</td>
                  <td>{{entry.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                  <td>{{entry.ip}}</td>
                  <td>{{entry.action | action}}</td>
                  <td>{{entry.stringDetail1}}</td>
                  <td>{{entry.stringDetail2}}</td>
                  <!-- <td>{{entry.stringDetail3}}</td> -->
                  <td>{{entry.longDetail1}}</td>
                  <!-- <td>{{entry.longDetail2}}</td> -->
                  <!-- <td>{{entry.longDetail3}}</td> -->
                  <!-- <td>{{entry.doubleDetail1}}</td> -->
                  <!-- <td>{{entry.doubleDetail2}}</td> -->
                  <!-- <td>{{entry.doubleDetail3}}</td> -->
								</tr>
							</tbody>
						</table>
					</div><!-- box-body -->

				</div><!-- box -->
			</div>
		</div>
	</section>
</div>
