<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="info-box bg-green">
					<span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">DOWNLOAD</span>
						<span class="info-box-number">{{stats.currentDownloads}}</span>
						<span class="info-box-number">{{stats.currentDownloadSpeed | bps}}</span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->
			</div>

			<div class="col-xs-12 col-sm-6">
				<div class="info-box bg-red">
					<span class="info-box-icon"><i class="ion ion-ios-cloud-upload-outline"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">UPLOAD</span>
						<span class="info-box-number">{{stats.currentUploads}}</span>
						<span class="info-box-number">{{stats.currentUploadSpeed | bps}}</span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Load Statistics</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						</div>
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-condensed">
							<tr>
								<th></th>
								<th>Minute</th>
								<th>Hour</th>
								<th>Day</th>
								<th>Month</th>
							</tr>
							<tr>
								<th>API</th>
								<td>{{stats.apiCalls.ranges[0].total}}</td>
								<td>{{stats.apiCalls.ranges[1].total}}</td>
								<td>{{stats.apiCalls.ranges[2].total}}</td>
								<td>{{stats.apiCalls.ranges[3].total}}</td>
							</tr>
							<tr>
								<th>Uploads</th>
								<td>{{stats.uploads.ranges[0].total}}</td>
								<td>{{stats.uploads.ranges[1].total}}</td>
								<td>{{stats.uploads.ranges[2].total}}</td>
								<td>{{stats.uploads.ranges[3].total}}</td>
							</tr>
							<tr>
								<th>Uploads</th>
								<td>{{stats.uploadsSize.ranges[0].total | bytes}}</td>
								<td>{{stats.uploadsSize.ranges[1].total | bytes}}</td>
								<td>{{stats.uploadsSize.ranges[2].total | bytes}}</td>
								<td>{{stats.uploadsSize.ranges[3].total | bytes}}</td>
							</tr>
							<tr>
								<th>Downloads</th>
								<td>{{stats.downloads.ranges[0].total}}</td>
								<td>{{stats.downloads.ranges[1].total}}</td>
								<td>{{stats.downloads.ranges[2].total}}</td>
								<td>{{stats.downloads.ranges[3].total}}</td>
							</tr>
							<tr>
								<th>Downloads</th>
								<td>{{stats.downloadsSize.ranges[0].total | bytes}}</td>
								<td>{{stats.downloadsSize.ranges[1].total | bytes}}</td>
								<td>{{stats.downloadsSize.ranges[2].total | bytes}}</td>
								<td>{{stats.downloadsSize.ranges[3].total | bytes}}</td>
							</tr>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>

			<div class="col-xs-12 col-md-6">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Server Stats</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						</div>
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-condensed">
							<tr>
								<th></th>
								<th>Number</th>
								<th>Size</th>
							</tr>
							<tr>
								<th>Users</th>
								<td>{{stats.users | number}}</td>
								<td></td>
							</tr>
							<tr>
								<th>Services</th>
								<td>{{stats.services | number}}</td>
								<td></td>
							</tr>
							<tr>
								<th>Files</th>
								<td>{{stats.files | number}}</td>
								<td>{{stats.filesSize | bytes}}</td>
							</tr>
							<tr>
								<th>Uploads</th>
								<td>{{stats.totalUploads | number}}</td>
								<td>{{stats.totalUploadsSize | bytes}}</td>
							</tr>
							<tr>
								<th>Downloads</th>
								<td>{{stats.totalDownloads | number}}</td>
								<td>{{stats.totalDownloadsSize | bytes}}</td>
							</tr>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div><!-- row -->

		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Stats</h3>
						<div class="box-tools pull-right">
							<div class="btn-group">
								<button class="btn btn-xs btn-primary active" ng-click="changeGranularity(0)">Minute</button>
								<button class="btn btn-xs btn-primary" ng-click="changeGranularity(1)">Hour</button>
								<button class="btn btn-xs btn-primary" ng-click="changeGranularity(2)">Day</button>
								<button class="btn btn-xs btn-primary" ng-click="changeGranularity(3)">Month</button>
							</div>
							<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						</div>
					</div>
					<div class="box-body">
						<div class="chart">
							<canvas id="barChart" style="height:220px"></canvas>
						</div>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div><!-- row -->

	</section>
</div>
