<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Files</h3>
						<div class="box-tools">
							<button class="btn btn-sm btn-primary">Upload</button>
							<input type="text" class="form-control input-sm" style="display: inline-block; width: 150px;" placeholder="Filter" ng-model="filter" ng-change="onFilter()"/>
						</div>
					</div><!-- box-header -->
					<div class="box-body no-padding">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>Filename</th>
									<th>Size</th>
									<th>Created</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="file in files" ng-click="onFileClick(file)">
									<td><a href="{{getFileUri(file)}}">{{file.filename}}</a></td>
									<td>{{file.fileSize | bytes}}</td>
									<td style="width:1%;white-space:nowrap;">{{file.timeCreated}}</td>
                  <td style="width:1%;white-space:nowrap;">
                    <button class="btn btn-danger btn-xs" ng-click="onDelete(file)">
                      <i class="fa fa-ban"></i>
                    </button>
                  </td>
								</tr>
							</tbody>
						</table>
					</div><!-- box-body -->
				</div><!-- box -->
			</div>
		</div>
	</section>
</div>
