<header class="main-header">
	<!-- Logo -->
	<a href="./" class="logo">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini"><b>F</b>X</span>
		<!-- logo for regular state and mobile devices -->
		<span class="logo-lg"><b>File</b>Exchange</span>
	</a>

	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="" class="sidebar-toggle" data-toggle="offcanvas">
			<span class="sr-only">Toggle navigation</span>
		</a>

		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">

				<!-- User Account Menu -->
				<li class="dropdown user user-menu">
					<!-- Menu Toggle Button -->
					<a href="" class="dropdown-toggle" data-toggle="dropdown">
						<!-- The user image in the navbar-->
						<!-- hidden-xs hides the username on small devices so only the image appears. -->
						<span>{{user.username}}</span>
					</a>
					<ul class="dropdown-menu">
						<!-- Menu Footer-->
						<li class="user-footer">
							<div id="btn-sign-out" class="pull-right">
								<a href="" class="btn btn-default btn-flat" ng-click="onSignOut()">Sign out</a>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>
