<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
				<div class="box box-solid box-primary">
					<div class="box-header with-border">
						<h3 class="box-title"><b>File</b>Exchange</h3>
					</div>

					<form class="form-horizontal" ng-submit="onSignIn()">
						<div class="box-body">
							<div class="form-group">
								<label class="col-sm-2 control-label">Username</label>
								<div class="col-sm-10">
									<input type="text" ng-model="username" class="form-control" placeholder="Username"></input>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Password</label>
								<div class="col-sm-10">
									<input type="password" ng-model="password" class="form-control" placeholder="Password"></input>
								</div>
							</div>
						</div>
						<div class="box-footer">
							<div id="callout-invalid-login" class="callout callout-danger hidden">
								<i class="icon fa fa-info"></i>
								Invalid Login
							</div>
							<button type="submit" class="btn btn-primary pull-right">Sign in</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
