<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header">
            <h3 class="box-title">{{monitor.name}}</h3>
						<div class="box-tools">
							<button class="btn btn-sm btn-primary" ng-if="!editing" ng-click="onRefresh()"><i class="fa fa-refresh"></i></button>
							<button class="btn btn-sm btn-primary" ng-if="!editing" ng-click="onEdit()">Edit</button>
							<button class="btn btn-sm btn-success" ng-if="editing" ng-click="onSave()">Save</button>
							<button class="btn btn-sm btn-danger" ng-if="editing" ng-click="onCancel()">Cancel</button>
						</div>
					</div><!-- box-header -->


          <!-- Editing -->
          <div class="box-body" ng-if="editing">
            <div class="alert alert-danger alert-dismissable" ng-if="errorMessage">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{errorMessage}}
            </div>
            <div class="form-group">
              <label>Monitor Name</label>
              <input type="text" class="form-control" ng-model="monitor.name" placeholder="Name">
            </div>
            <div class="form-group">
              <label>Start Time</label>
              <input type="text" class="form-control" ng-model="monitor.startOffset" placeholder="Time">
            </div>
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>Pattern</th>
									<th>Sevice</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="feed in monitor.feeds">
                  <td>
                    <input type="text" class="form-control" ng-model="feed.pattern" placeholder="pattern"></input>
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="feed.service" placeholder="service"></input>
                  </td>
								</tr>
							</tbody>
						</table>
            <button class="btn btn-sm btn-primary" ng-if="editing" ng-click="onAddFeed()">Add Feed</button>
          </div><!-- /.box-body -->
					<div class="box-body no-padding" ng-if="!editing">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>Sevice</th>
									<th>Pattern</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="feed in monitor.feeds">
									<td>{{feed.pattern}}</td>
									<td>{{feed.service}}</td>
                  <td style="width:1%;white-space:nowrap;"><span class="badge" ng-class="getStatusClass(feed.status)">{{feed.status}}</span></td>
								</tr>
							</tbody>
						</table>
					</div><!-- box-body -->
				</div><!-- box -->
      </div><!-- col -->
    </div><!-- row -->
	</section>
</div>
