<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Monitors</h3>
						<div class="box-tools">
							<button class="btn btn-sm btn-primary" ng-click="onAdd()"><i class="fa fa-plus"></i></button>
							<input type="text" class="form-control input-sm" style="display: inline-block; width: 150px;" placeholder="Filter" ng-model="filter" ng-change="onFilter()"/>
						</div>
					</div><!-- box-header -->
					<div class="box-body no-padding">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Feeds</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="monitor in monitors" ng-click="onMonitorClick(monitor)">
									<td>{{monitor.name}}</td>
									<td>{{monitor.feeds.length}}</td>
								</tr>
							</tbody>
						</table>
					</div><!-- box-body -->
				</div><!-- box -->
      </div><!-- col -->
    </div><!-- row -->
	</section>
</div>
