<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Services</h3>
						<div class="box-tools">
							<button class="btn btn-sm btn-primary" ng-click="onAdd()"><i class="fa fa-plus"></i></button>
							<input type="text" class="form-control input-sm" style="display: inline-block; width: 150px;" placeholder="Filter" ng-model="filter" ng-change="onFilter()"/>
						</div>
					</div><!-- box-header -->

          <!-- list of service -->
					<div class="box-body no-padding" ng-if="!newService">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="service in services">
                  <td ng-if="current != service" ng-click="onServiceClick(service)">
                    {{service.name}}
                  </td>
                  <td ng-if="current == service">
                    <input type="text" class="form-control" ng-model="service.name" placeholder="Service">
                  </td>

                  <td style="width:1%;white-space:nowrap;">
                    <button class="btn btn-primary btn-xs" ng-if="current == null" ng-click="onEditService(service)">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-success btn-sm" ng-if="current == service" ng-click="onSaveService(service)">
                      <i class="fa fa-check"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" ng-if="current == service" ng-click="onCancelService(service)">
                      <i class="fa fa-close"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" ng-if="current == service" ng-click="onDeleteService(service)">
                      <i class="fa fa-ban"></i>
                    </button>
                  </td>
								</tr>
							</tbody>
						</table>
					</div><!-- box-body -->

          <!-- editing new service -->
					<div class="box-body" ng-if="newService">
            <input type="text" class="form-control" ng-model="newService.name" placeholder="service"></input>
          </div>
          <div class="box-footer" ng-if="newService">
            <div class="alert alert-danger alert-dismissable" ng-if="errorMessage">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{errorMessage}}
            </div>
            <button class="btn btn-success" ng-click="onSave()">Save</button>
            <button class="btn btn-danger" ng-click="onCancel()">Cancel</button>
          </div>

				</div><!-- box -->
			</div>
		</div>
	</section>
</div>
