<aside class="main-sidebar">
	<section class="sidebar">
		<!-- Sidebar Menu -->
		<ul class="sidebar-menu">
			<li class="header">OPERATIONS</li>
      <li ng-class="{'active': viewName == 'login'}" ng-if="user == null">
        <a href="#/login">
          <i class='fa fa-sign-in'></i>
          <span>Login</span>
        </a>
      </li>
      <li ng-class="{'active': viewName == 'dashboard'}" ng-if="user != null">
        <a href="#/dashboard">
          <i class='fa fa-area-chart'></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li ng-class="{'active': viewName == 'monitors'}" ng-if="user != null">
        <a href="#/monitors">
          <i class='fa fa-heartbeat'></i>
          <span>Monitors</span>
        </a>
      </li>
      <li ng-class="{'active': viewName == 'services'}" ng-if="user != null">
        <a href="#/services">
          <i class='fa fa-inbox'></i>
          <span>Services</span>
        </a>
      </li>
      <li ng-class="{'active': viewName == 'users'}" ng-if="user != null">
        <a href="#/users">
          <i class='fa fa-users'></i>
          <span>Users</span>
        </a>
      </li>
      <li ng-class="{'active': viewName == 'audit'}" ng-if="user != null">
        <a href="#/audit">
          <i class='fa fa-university'></i>
          <span>Audit</span>
        </a>
      </li>
			<li class="header">
        <p>
          Copyright &copy; 2015 <a href="http://www.voreni.com">Voreni</a>.
          <br>
          All rights reserved.
        </p>
			</li>
		</ul><!-- /.sidebar-menu -->
	</section>
</aside>
