<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Users</h3>
						<div class="box-tools">
							<button class="btn btn-sm btn-primary" ng-click="onAdd()"><i class="fa fa-plus"></i></button>
							<input type="text" class="form-control input-sm" style="display: inline-block; width: 150px;" placeholder="Filter" ng-model="filter" ng-change="onFilter()"/>
						</div>
					</div><!-- box-header -->
					<div class="box-body no-padding">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>Username</th>
									<!-- <th>Last Log In</th> -->
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="user in users" ng-click="onUserClick(user)">
									<td>{{user.username}}</td>
									<!-- <td>11&#45;7&#45;2014</td> -->
								</tr>
							</tbody>
						</table>
					</div><!-- box-body -->
				</div><!-- box -->
			</div>
		</div>
	</section>
</div>
