<div class="content-wrapper">
	<section class="content">
		<div class="row">
			<!-- left column -->
			<div class="col-md-6">

				<!-- user details -->
				<div class="box box-primary">
					<!-- <div class="box&#45;header"> -->
						<!-- 	<h3 class="box&#45;title">Quick Example</h3> -->
						<!-- </div><!&#45;&#45; /.box&#45;header &#45;&#45;> -->
					<!-- form start -->
					<form name="userForm" role="form">
						<div class="box-body">
              <div class="form-group" ng-class="{'has-error':userForm.username.$invalid && !userForm.username.$pristine}">
								<label>Username</label>
								<input name="username" type="text" class="form-control" ng-model="user.username" placeholder="username (required)" pattern="^[a-zA-Z0-9\\.\\-\\_]+$" required>
                <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">Username is required and must contain only "a-zA-Z0-9.-_" characters.</p>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="user.isSysAdmin"> System Administrator
								</label>
							</div>
						</div><!-- /.box-body -->

						<div class="box-footer">
							<button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="onSave()">Save</button>
							<button class="btn btn-danger" ng-if="isNew" ng-click="onCancel()">Cancel</button>
							<button class="btn btn-danger pull-right" ng-if="!isNew" ng-click="onDelete()">Delete</button>
						</div>
					</form>
				</div><!-- /.box -->

			</div> <!-- left column -->

			<!-- right column -->
			<div class="col-md-6" ng-if="!isNew">

				<!-- services available to the user -->
				<div class="box box-primary">
					<!-- <div class="box&#45;header"> -->
						<!-- 	<h3 class="box&#45;title">Permissions</h3> -->
						<!-- </div><!&#45;&#45; box&#45;header &#45;&#45;> -->
          <form name="permissionForm" role="form">
            <div class="box-body no-padding">
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th>Service</th>
                    <th>Permission</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="perm in permissions">
                    <td>{{perm.service}}</td>

                    <td ng-if="currentPermission != perm">
                      <span class="badge" ng-class="getPermissionClass(perm.permission)">{{getPermissionText(perm.permission)}}</span>
                    </td>
                    <td ng-if="currentPermission == perm">
                      <select class="form-control input-sm" ng-model="perm.permission" required>
                        <option value="1" ng-selected="perm.permission == 1">List</option>
                        <option value="2" ng-selected="perm.permission == 2">Read</option>
                        <option value="3" ng-selected="perm.permission == 3">Write</option>
                        <option value="4" ng-selected="perm.permission == 4">Admin</option>
                      </select>
                    </td>

                    <td style="width:1%;white-space:nowrap;">
                      <button class="btn btn-primary btn-xs" ng-if="currentPermission == null" ng-click="onEditPermission(perm)">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button class="btn btn-success btn-sm" ng-if="currentPermission == perm" ng-click="onSaveEdit(perm)">
                        <i class="fa fa-check"></i>
                      </button>
                      <button class="btn btn-danger btn-sm" ng-if="currentPermission == perm" ng-click="onCancelEdit(perm)">
                        <i class="fa fa-close"></i>
                      </button>
                      <button class="btn btn-danger btn-sm" ng-if="currentPermission == perm" ng-click="onDeletePermission(perm)">
                        <i class="fa fa-ban"></i>
                      </button>
                    </td>
                  </tr>

                  <tr ng-if="newPermission">
                    <td>
                      <div class="form-group" ng-class="{'has-error':permissionForm.newPermService.$invalid && !permissionForm.newPermService.$pristine}">
                        <input name="newPermService" type="text" class="form-control" ng-model="newPermission.service" placeholder="service (required)" pattern="^[a-zA-Z0-9\\.\\-\\_]+$" required></input>
                        <p ng-show="permissionForm.newPermService.$invalid && !permissionForm.newPermService.$pristine" class="help-block">Service is required and must contain only "a-zA-Z0-9.-_" characters.</p>
                      </div>
                    </td>
                    <td>
                      <select class="form-control" ng-model="newPermission.permission" required>
                        <option value="1">List</option>
                        <option value="2">Read</option>
                        <option value="3">Write</option>
                        <option value="4">Admin</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div><!-- box-body -->
          </form>
          <div class="box-footer">
            <div class="alert alert-danger alert-dismissable" ng-if="permissionErrorMessage">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{permissionErrorMessage}}
            </div>
            <button class="btn btn-primary" ng-if="!newPermission" ng-disabled="permissionForm.$invalid" ng-click="onAddPermission()">Add Permission</button>
            <button class="btn btn-success" ng-if="newPermission" ng-disabled="permissionForm.$invalid" ng-click="onSaveNewPermission()">Save</button>
            <button class="btn btn-danger" ng-if="newPermission" ng-click="onCancelNewPermission()">Cancel</button>
          </div>
				</div><!-- box -->

			</div> <!-- right column -->

		</div> <!-- row -->
	</section>
</div>
